body {
    background: #edeef0;
}

.block {
    margin: 15px auto;
    padding: 20px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    text-align: center;
}

.img-response {
    max-height: 250px;
}